body {
   max-width: 800px !important;
   font-family: monospace;
   line-height: 1.5;
   background-color: #0a0a0a;
   margin: 0 auto;
   padding: 1rem;
   font-size: 16px;
}

table, th, td {
  border: 1.5px solid;
}
table {
  @extend .table;
  @extend .table-striped;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}     
th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
thead {
  background-color: #4C4E52;
}
a {
   text-decoration: none;
 }
 a:hover {
   text-decoration: underline;
 }
blockquote {
   @extend .blockquote;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-left: 18px;
   padding-bottom: 2px;
   padding-top: 10px;
   background: #0e3b45;
   padding-right: 9px;
   border-left: 7px solid #6edff6;
}    
.dashed {
   border: none;
   border-top: 3px dashed;
}
img {
   @extend .img-fluid;
   margin-bottom: 1rem;
   margin-top: 1rem;
   max-width:99%;
}
h2, h3 {
   margin-top: 25px;
}

nav {
   padding-bottom: 50px;
}
   
nav ul {
   margin: 0;
   padding: 0;
   display: flex;
   flex-wrap: wrap;
   border-bottom: 1px solid rgb(128, 128, 128);
 }

 nav li {
   list-style: none;
 }

 nav li * {
   display: block;
   padding: 0.4rem 0.6rem;
 }

 nav li strong {
   padding-left: 1rem;
   padding-right: 1rem;
 }

 h2, h3, h4, h5, h6 {
   font-size: 1.3em;
   margin-top: 2rem;
   margin-bottom: 0.5rem;
   padding-top: 1rem;
   font-weight: bold;
 }
 .header {
   padding-top: 25px;
   padding-bottom: 46px;
   text-align: center;
 }

@media (max-width: 600px) {
   body {
      max-width: 100%;
      padding: 1rem;
      font-size: 15px;
   }
   nav li * {
      padding: 0.2rem 0.4rem;
   }
   nav li strong {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
   }
}

   
.language-plaintext {
   background-color: #333333;
   padding: 2px;
}   
.highlight {
  background-color: #333333;
}
pre.highlight {
  padding: 1rem;
}
.highlight pre{
    background-color: #333333;
}
.highlight .hll{
    background-color: #333333;
}
.highlight .c{
    color:#75715e
}
.highlight .err{
    color:#960050;
    background-color:#1e0010
}
.highlight .k{
    color:#66d9ef
}
.highlight .l{
    color:#ae81ff
}
.highlight .n{
    color:#f8f8f2
}
.highlight .o{
    color:#f92672
}
.highlight .p{
    color:#f8f8f2
}
.highlight .cm{
    color:#75715e
}
.highlight .cp{
    color:#75715e
}
.highlight .c1{
    color:#75715e
}
.highlight .cs{
    color:#75715e
}
.highlight .ge{
    font-style:italic
}
.highlight .gs{
    font-weight:700
}
.highlight .kc{
    color:#66d9ef
}
.highlight .kd{
    color:#66d9ef
}
.highlight .kn{
    color:#f92672
}
.highlight .kp{
    color:#66d9ef
}
.highlight .kr{
    color:#66d9ef
}
.highlight .kt{
    color:#66d9ef
}
.highlight .ld{
    color:#e6db74
}
.highlight .m{
    color:#ae81ff
}
.highlight .s{
    color:#e6db74
}
.highlight .na{
    color:#a6e22e
}
.highlight .nb{
    color:#f8f8f2
}
.highlight .nc{
    color:#a6e22e
}
.highlight .no{
    color:#66d9ef
}
.highlight .nd{
    color:#a6e22e
}
.highlight .ni{
    color:#f8f8f2
}
.highlight .ne{
    color:#a6e22e
}
.highlight .nf{
    color:#a6e22e
}
.highlight .nl{
    color:#f8f8f2
}
.highlight .nn{
    color:#f8f8f2
}
.highlight .nx{
    color:#a6e22e
}
.highlight .py{
    color:#f8f8f2
}
.highlight .nt{
    color:#f92672
}
.highlight .nv{
    color:#f8f8f2
}
.highlight .ow{
    color:#f92672
}
.highlight .w{
    color:#f8f8f2
}
.highlight .mf{
    color:#ae81ff
}
.highlight .mh{
    color:#ae81ff
}
.highlight .mi{
    color:#ae81ff
}
.highlight .mo{
    color:#ae81ff
}
.highlight .sb{
    color:#e6db74
}
.highlight .sc{
    color:#e6db74
}
.highlight .sd{
    color:#e6db74
}
.highlight .s2{
    color:#e6db74
}
.highlight .se{
    color:#ae81ff
}
.highlight .sh{
    color:#e6db74
}
.highlight .si{
    color:#e6db74
}
.highlight .sx{
    color:#e6db74
}
.highlight .sr{
    color:#e6db74
}
.highlight .s1{
    color:#e6db74
}
.highlight .ss{
    color:#e6db74
}
.highlight .bp{
    color:#f8f8f2
}
.highlight .vc{
    color:#f8f8f2
}
.highlight .vg{
    color:#f8f8f2
}
.highlight .vi{
    color:#f8f8f2
}
.highlight .il{
    color:#ae81ff
}
.highlight .gu{
    color:#75715e
}
.highlight .gd{
    color:#f92672
}
.highlight .gi{
    color:#a6e22e
}
